/*
    The Sea Layout CSS file
*/

* {
    box-sizing: border-box;
}

@font-face { 
    font-family: myHeader;
    src: url(../../fonts/le_amatcky.otf); 
}

@font-face { 
    font-family: myText;
    src: url(../../fonts/OpenSans-Semibold.ttf);
}

@font-face { 
    font-family: myMenu;
    src: url(../../fonts/palanquin-medium.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: myText;
    background-color: #494949;
}

header {
    width: 97%;
    position: fixed;
    top: 0;
    left: 1.5%;
    padding: 2% 0 0 0;
    background-color: #494949;
    z-index: 1;
}

#header {
    max-width: 1006px;
    margin: 0 auto;
    padding: 1% 1.5%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #333;
}

.open {
    display: inline;
    text-decoration: none;
    font-size: 200%;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    color: #b0e237;
    width: 75%;
    float: right;
    text-align: right;
}

h1 > span {
    padding-left: 1.1%;
    font-family: myHeader;
    color: #fb90b3;
    font-size: 60%;
    letter-spacing: 0.3em;
    font-style: italic;
    line-height: 0;
}

h2 {
    margin: 0;
    padding: 1% 2.5%;
    color: #fff;
    font-size: 167.5%;
    text-align: right;
    letter-spacing: 0.025em;
}

main {
    width: 97%;
    max-width: 1000px;
    margin: 16.5% auto 0 auto;
}

img {
/*
    width: 100%;
    height: auto;
*/
}

footer {
    margin: 4.5% 0 0 0;
    padding: 0 0 3.5% 0;
    color: #fff;
    font-size: 85%;
    font-weight: 700;
    text-align: center;
}

footer span:first-of-type {
    color: red;
    color: rgba(226, 17, 17, 0.93);
    font-size: 150%;
}

footer span:nth-of-type(2) {
    color: violet;
}

footer span:nth-of-type(3) {
    color: violet;
}

small {
    letter-spacing: 0.7em;
    letter-spacing: 0.55em;
}

@media (min-width: 1000px) {
    main {
        margin: 10% auto 0 auto;
    }
}
