nav {
    width: 53.25%;
    height: 100vh;
    padding-top: 2.75%;
    padding-left: 8%;
    padding-right: 4%;
    background-color: #800080;
        
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
        
/*  transform: translateY(-100%);*/
    transform: translateX(-106.5%);
    transition: transform ease-in 1.1s;
}
    
nav:target {
/*  transform: translateY(0);*/
    transform: translateX(-6.5%);
}
    
nav > a {
    display: block;
    padding: 5.5% 5.5% 6.5% 0;
    font-size: 116%;
    text-decoration: none;
    margin-bottom: 4%;
    color: #fff;
    text-align: right;
    font-family: myMenu;
    letter-spacing: 0.2em;
}

nav > a:nth-of-type(2) {
    margin-top: 25%;
}

nav > a:last-of-type {
    line-height: 165%;
}

nav > a:hover {
    background-color: coral;
    border-radius: 5px;
}
    
.open, .close {
    display: inline;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}
    
.close:hover {
    background-color: transparent;
}
