/*
    gallery.css
*/

.gallery {
    display: flex;
    margin: 0 auto;
    padding: 3.75% 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 38px;
    z-index: -1;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 1px 1px 2px #111;
/*
    max-width: 360px;
    height: auto;
    border-radius: 10px;
*/
}

.gallery::after {
    content: "";
/*    width: 360px;*/
    width: 478px;
}

@media (min-width: 1000px) {
    .gallery img {
        max-width: 220px;
        height: 176px;
    }
}
