/* FADE-IN ANIMATION */

@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; }
}

.gallery img {
    opacity: 0; 
    animation: fadeIn ease-in 1; 
    animation-fill-mode: forwards;
    animation-duration: 1.2s;
/*    animation-delay: 0.7s;  */
}

.gallery > a:first-of-type > img {
    animation-delay: 1.4s;
}

.gallery > a:nth-of-type(2) > img {
    animation-delay: 1.7s;
}

.gallery > a:nth-of-type(3) > img {
    animation-delay: 2s;
}

.gallery > a:nth-of-type(4) > img {
    animation-delay: 2.3s;
}

.gallery > a:nth-of-type(5) > img {
    animation-delay: 2.6s;
}

.gallery > a:nth-of-type(6) > img {
    animation-delay: 2.9s;
}

.gallery > a:nth-of-type(7) > img {
    animation-delay: 3.2s;
}

.gallery > a:nth-of-type(8) > img {
    animation-delay: 3.5s;
}

.gallery > a:nth-of-type(9) > img {
    animation-delay: 3.8s;
}

.gallery > a:nth-of-type(10) > img {
    animation-delay: 4.1s;
}
