/*
    gallery.css
*/

.gallery {
    display: flex;
    margin: 0 auto;
    padding: 3.75% 0;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 26px;
    z-index: -1;
    /* background-color: #212121; */
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 1px 1px 2px #111;
}

.gallery::after {
    content: "";
    width: 315px;
}

@media (min-width: 1000px) {
    .gallery img {
        width: 315px;
        height: 236px;
    }
}
